.form {
  padding: 3%;
}
.form > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form > .htmlForm-group {
  width: 100%;
}
.form > .htmlForm-group > input {
  width: 100%;
}
.form > .htmlForm-group > input:focus {
  width: 100%;
  color: #007bff;
}
.htmlForm-group {
  padding-bottom: 1rem;
}
