.mainContainer {
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.notAuthText {
  margin: 0 auto;
  font-size: large;
}
.authImg {
  width: 100%;
}
